import { Meta, Story } from '@storybook/react/types-6-0'
import { {{ properCase name }}, {{ camelCase name }}Props } from './{{ snakeCase name }}'

export default {
  title: '{{ sentenceCase name }}',
  component: {{ properCase name }},
  args: {
    children: <h1>OK</h1>,
  },
  argTypes: {
    //
  },
} as Meta

 export const Template: Story<{{ camelCase name }}Props > = (args) => <{{ properCase name }} {...args} />

Template.parameters = {
  backgrounds: {
    //  default: 'light'
  },
}
